# Spareflow AI - Environment Configurations

# Express Dev and Production server port
PORT=3000

# Node execution environment (development, production, test)
NODE_ENV=development

# Secret key used for JWT signing & aes-256-cbc data encryption
JWT_SECRET=spareflow_jwt_secret_super_secure_key_2026

# The public URL of the hosted application (for CORS/redirects/callbacks)
APP_URL=http://localhost:3000

# PostgreSQL Database configurations
SQL_HOST=localhost
SQL_USER=postgres
SQL_PASSWORD=your_database_secure_password
SQL_DB_NAME=spareflow

# Google Gemini API key (Required if adding optional AI capabilities)
GEMINI_API_KEY=
